html {
  scroll-behavior: smooth;
  /* box-sizing: border-box; */
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  height: 400px;
  margin: 0 auto;
}

.menu{
  background-color: rgba(0, 0, 0, 0.466);
  display:flex;
  flex-direction:row;
  justify-content: space-between;
width: 100%;
height: 30%;
flex-wrap: nowrap;

}
 

.menu_items {

/* border:1px solid red; */

display: flex;

flex-wrap: wrap;
align-items: center;
justify-content: flex-end;
height: 100%;
width: 60%;



}
.menu_items a{
text-decoration: none;
color:white;
margin-right: 10px;
border:1px solid white;
padding:2px;
border-radius: 1px;
font-weight:lighter;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.menu_items a:hover {
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),0 17px 50px 0 rgba(255, 255, 255, 0.19);
  background-color: white;
  color: black;
}

.insta-logo {
  justify-self: flex-start;
  position: sticky;
  margin-top: 10px;
  margin-left: 10px;

}

.insta-logo img {
  height: 70px;
  width: 70px;
  
}
.insta-logo img a:hover{
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

body .insta-logo {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}

header::after {

  content: "";
  background-image: url("../img/makeup-2589040_1920.jpg");
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.header-wrapper {
  /* border: 1px solid red; */
  height: 280px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: 'Heebo', sans-serif;
  color: white;
  justify-content: center;
}

.company_name {
  
  display: flex;
  flex-direction: column;
align-content: center;
text-align: center;
  height: 150px;
  width: auto;
}

h1 {
  font-size: 70px;
  margin: 0;
  padding: 0;
  color:white;
  
}

h2 {
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: 150px;

}



/* Новые кнопки меню */

.nav-wrapper a {

  text-decoration: none;
  border: 3px solid white;
  color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  padding: 10px;
  -webkit-transition-duration: 0.4s;
  
  transition-duration: 0.4s;
  cursor: pointer;

}



.animated.flipInY:hover {

  background-color: white;
  color: rgb(24, 21, 21);
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),0 17px 50px 0 rgba(255, 255, 255, 0.19);
}


* {
  box-sizing: border-box
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  /* border:1px solid black; */
}
#myBtn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}




/* slideshow end______________________________________________________________________________ */

.main_wrapper{
display: flex;
flex-direction: column;
box-sizing: border-box;
flex-wrap: wrap;
width: 100%;

}

.cosmetics,.perfume,.underwear{
  display:flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;  
  margin-bottom: 5px;
background-color: #bbb8b8;

}

.cosmetics_img,.perfume_img,.underwear_img{
display:flex;
flex-direction: row;
flex-wrap: wrap;
box-sizing: border-box;
max-width: 50%;
object-fit: cover;
padding: 0;
margin: 0;
}

.cosmetics_img img,.perfume_img img,.underwear_img img {
width: 400px;
  position: relative;
  object-fit: cover;
  height: 400px;
  position: relative;
}


.cosmetics_img a,.perfume_img a,.underwear_img a{

max-width: 400px;
max-height:400px;
}



#text_cosmetics,#text_perfume,#text_underwear{
width: 50%;
color:white;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size:25px;
}

#text_cosmetics h2,#text_perfume h2,#text_underwear h2{
text-align: center;
}

@media screen and (max-width: 550px) {
  
  .cosmetics,.perfume,.underwear{
    display:flex;
    flex-direction: row;
    width:100%;
    
  }
  .cosmetics_img,.perfume_img,.underwear_img{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
   box-sizing: border-box;
   object-fit: cover;
    padding: 0;
    margin: 0;
  padding-left:0;
    }

    #text_cosmetics,#text_perfume,#text_underwear{
      width: 370px;
      
      }
  
      
      .cosmetics_img img,.perfume_img img,.underwear_img img {
        max-width: 370px;
        }
        
       
        }
        .cosmetics_img a,.perfume_img a,.underwear_img a{
          /* border: 1px solid black; */
       width: 100%;
         
          }



}
@media screen and (max-width: 800px) {
  
  .cosmetics,.perfume,.underwear{
    display:flex;
    flex-direction: row;
    
  }
  .cosmetics_img,.perfume_img,.underwear_img{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 800px;
    /* width: 100%; */
   box-sizing: border-box;
   object-fit: cover;

    padding: 0;
    margin: 0;
  padding-left:0;
    }

    #text_cosmetics,#text_perfume,#text_underwear{
      max-width: 400px;
      
      }
  
        }
        .cosmetics_img a,.perfume_img a,.underwear_img a{
          /* border: 1px solid black; */
       width: 400px;
         
          }

}


/* article part ______________________________________________________________________________________*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  /* border:1px solid black; */
}
#myBtn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  background-color: black;
  background-size: cover;
  padding-top: 5px;
  color: whitesmoke;
  height: auto;
}


.adress,
.order,.parnters {
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: whitesmoke;
}

.order {
  padding: 25px;
  width: 60%;
  text-align: center;
}

.partners {
  padding-top: 25px;
  font-size: 100%;
}



footer a {
  color: whitesmoke;
}

.adress ul {
  list-style-type: none;
  padding-top:13px;
  


}